@{
	ViewData["Title"] = "About Us";
}

<div class="container-fluid card p-5">
	<div class="row">
		<div class="col-md-11">
			<p class="fs-1 fw-bold">About Us</p>
		</div>
		<div class="col-md-1 d-flex justify-content-end">
			<div>
				<button id="back-btn" class=" btn shadow-none btn-sm btn-primary"> <span
						class="material-icons">arrow_back</span></button>
				<script>
					$("#back-btn").click(function () {
						window.history.back();
					});
				</script>
			</div>
		</div>
	</div>
	<div class="about-container">
		<p>
			The Ticketing Management System is a web-based application designed to help organizations manage their
			ticketing
			processes efficiently.
			It provides features for creating, tracking, and resolving tickets, allowing users to prioritize and assign
			tasks
			effectively.
		</p>
		<p>
			With the Ticketing Management System, teams can collaborate seamlessly, streamline communication, and ensure
			prompt resolution of issues
			and requests. Whether it's IT support, customer service, or project management, our system offers a
			centralized
			platform to manage all
			types of tickets efficiently.
		</p>
	</div>

	<div>
		<p>To access the source code of this project, visit our GitHub repository:</p>
		<a href="https://github.com/marcuwynu23/TicketSquad" target="_blank" class="">GitHub Repository</a>
	</div>
</div>